<head>
    <title>DM Menu</title>
    <link rel="stylesheet" href="/static/css/DM.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
</head>
<body>

    <div id="root">
        <div id = "main">
            <div id = "GeneratedList">
                <ul id = "GeneratedUL">

                </ul>
            </div>
            <BR>
            <div id = "OptionList">
                Options:
                <ul id = "OptionUL">

                </ul>
            </div>
            <BR>
            <div id="background">
                <img id="Image" src="{{ image_path }}" draggable="false">
            </div>
        </div>
    </div>

    <script src="/static/js/DM_lib.js"></script>
    <script src="/static/js/DM_select.js"></script>
</body>
